.jacob-div {
    position: relative;
    width: 30%;
    height: 90%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 30px 30px 30px 30px;
    outline: 3px dashed #ff9100;
}

.btn {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    font-weight: 900;
    padding: 16px 28px;
    color: #ff9100;
    background-color: transparent;
    border: 2px solid #ff9100;
    border-radius: 8px;
    transition: all 170ms;
}

.btn:hover {
    color: #ffffff;
    background-color: #ff9100;
}

.navigation {
    position: absolute;
    margin: auto;
    transform: translateX(-50%);
    left: 50%;
    bottom: 15px;
}

.jacob {
    max-width: 100%;
    max-height: 60%;
    box-shadow: 0px 0px 20px #000000;
}

.caption {
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    line-height: 70%;
    text-shadow: 2px 2px 4px #000000;
}

.title {
    font-size: 30pt;
    max-width: 6in;
    color: #ff9100;
}

.description {
    font-size: 20pt;
    max-width: 6in;
    line-height: 100%;
    color: #ffffff;
}

.photo-credit {
    font-size: 12pt;
    text-align: center;
    color: #ffffff7c;
}

.index-number {
    font-size: 20pt;
    font-style: italic;
    text-align: center;
    vertical-align: middle;
    color: #ffffff7c;
}

body {
    background: linear-gradient(#000000ea, #1b0000ea), url("../img/tile.png");
    background-size: 40px;
}

.load {
    height: 40px;
    animation: rotation 1s infinite ease-in-out;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}